<% if !micropost.suki?(current_user) %>
  <%= form_for(micropost.likes.build, remote: true) do |f| %>
    <%= hidden_field_tag :micropost_id, micropost.id %>
    <%= f.submit 'LIKE', class:"text-white bg-primary" %>
  <% end %>
<% else %>
  <%= form_for(micropost.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
    <%= f.submit 'Dislike', class:"text-white bg-danger" %>
  <% end %>
<% end %>